<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login Form</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
   <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
   <script src="/static/js/getrequest.js"></script>
   <script src="/static/js/postrequest.js"></script>
<!-- <link rel="stylesheet" href="css/style.css" /> -->
</head>
<body>
    <div class="container"> 
        <div class="col-sm-6">
<h3>Login Form</h3>
<form class="form">
    <input id="email" class="form-control" type="text" name="loginid" placeholder="Login Id" required>&nbsp
    <input id="password" class="form-control" type="password" name="password" placeholder="Password" required>&nbsp
    <!-- <input type="checkbox" id="chk1"><label for="chk1">Remmeber me</label> -->
    <div class="form-button">
   <button id="submit" type="submit" class="ibtn">Login</button>< <a href="index.html">Forget password?</a>
    </div>
</form>
</div>
</div>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"
integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="
crossorigin="anonymous"
></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="js/main.js"></script> -->
</script><script src="/js/login.js"></script>
</body>
</html>